<!DOCTYPE html>
<html lang="en" ng-app="kkiri" data-channel="{{channel}}">

<head>
  <title>KKIRI {{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.16/angular-ui-router.min.js"></script>

  <script type="text/javascript" src="/static/js/app.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body ng-controller="TeamController">
  <toast></toast>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      #{{channel}} 시청자 참여 접수목록
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/?c={{login.login}}">참여목록</a>
    </nav>
    {{#if login}}
    {{login.login}}님, <a class="btn" href="/logout">로그아웃</a>
    {{else}}
    <a class="btn btn-outline-primary" href="/auth/twitch">Twitch 로그인</a>
    {{/if}}
  </div>

  <div class="nav-scroller bg-white box-shadow">
    <nav class="nav nav-underline">

      <a class="nav-link" href="#" ng-click="startSession()">시작</a>
      <a class="nav-link" href="#" ng-click="changeSession()">마감(접수가능)</a>
      <a class="nav-link" href="#" ng-click="closeSession()">마감(접수불가)</a>
      <a class="nav-link" href="#" ng-click="deleteSession()">끝내기</a>

      <a class="nav-link" ui-sref="session({sessionId: s.id})" ng-class="{active: session}" ng-repeat="s in sessions">
        Dashboard
        <span class="badge badge-pill bg-light align-text-bottom" ng-bind="session.members.length"></span>
      </a>
    </nav>
  </div>

  <div class="container">
    <div class="">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Twitch</th>
            <th scope="col">플랫폼</th>
            <th scope="col">게임ID</th>
            <th scope="col">팀</th>
            <th scope="col">등록일시</th>
          </tr>
        </thead>
        <tbody>
          {{#each user as |value key|}}
            <tr id="user{{key}}" class="user-row {{#if this.subscriber}}user-subscriber{{else}}user-not-subscriber {{/if}}{{#if this.follow}}user-follower {{/if}} {{#if this.hasTeam}}has-team {{/if}}" data-display-name="{{this.displayName}}" data-nickname="{{this.nickname}}" data-platform="{{this.platform}}" data-team="{{this.team}}" data-user="{{this.user}}">
              <th scope="row" ng-bind="{{key}} + 1"></th>
              <td>
                {{#if this.subscriber}}<i class="subscriber"></i>{{/if}} {{this.displayName}}({{this.user}})
                <br /><small>팔로우: {{date this.follow "Y-MM-DD"}}</small>
              </td>
              <td>{{this.platformDisplay}}</td>
              <td>{{this.nickname}}</td>
              <td {{#if this.hasTeam}}ng-bind="{{this.team}} + 1"{{/if}}></td>
              <td>{{date this.regdate "Y-MM-DD A hh:mm:ss"}}</td>
              <td>
                {{#if this.hasTeam}}
                {{else}}
                <div class="form-group" ng-if="!allocated[{{this.user}}]">
                  <select name="" id="" class="form-control" ng-model="user_{{key}}.team" ng-change="saveUserTeam('{{this.user}}', user_{{key}}.team)">
                    <option value="">팀 배정</option>
                    <optgroup label="{[{p.name}]}" ng-repeat="p in context.platforms">
                      <option value="{[{$index + 1}]}" ng-repeat="team in p.teams track by $index" ng-bind="$index + 1"></option>
                      <option value="{[{p.teams.length +1}]}">새 팀</option>
                    </optgroup>
                  </select>
                </div>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
        <thead>
          <tr>
            <th colspan="6">접수시간 이후 접수한 시청자</th>
          </tr>
        </thead>
        <tbody>
          {{#each latedUser as |value key|}}
            <tr class="user-row lated-user-row {{#if this.subscriber}}user-subscriber {{/if}}{{#if this.follow}}user-follower {{/if}}{{#if this.hasTeam}}has-team {{/if}}" data-display-name="{{this.displayName}}" data-username="{{this.nickname}}" data-platform="{{this.platform}}" data-team="{{this.team}}" data-user="{{this.user}}">
              <th scope="row" ng-bind="{{key}} + 1"></th>
              <td>
                {{#if this.subscriber}}<i class="subscriber"></i>{{/if}} {{this.displayName}}({{this.user}})
                <br /><small>팔로우: {{date this.follow "Y-MM-DD"}}</small>
              </td>
              <td>{{this.platformDisplay}}</td>
              <td>{{this.nickname}}</td>
              <td {{#if this.hasTeam}}ng-bind="{{this.team}} + 1"{{/if}}></td>
              <td>{{date this.regdate "Y-MM-DD A hh:mm:ss"}}</td>
              <td>
                {{#if this.hasTeam}}
                {{else}}
                <div class="form-group" ng-if="!allocated[{{this.user}}]">
                  <select name="" id="" class="form-control" ng-model="user_{{key}}.team" ng-change="saveUserTeam('{{this.user}}', user_{{key}}.team)">
                    <option value="">팀 배정</option>
                    <optgroup label="{[{p.name}]}" ng-repeat="p in context.platforms">
                      <option value="{[{$index + 1}]}" ng-repeat="team in p.teams track by $index" ng-bind="$index + 1"></option>
                      <option value="{[{p.teams.length +1}]}">새 팀</option>
                    </optgroup>
                  </select>
                </div>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">팀 인원</span>
        </div>
        <div class="input-group-prepend">
          <span class="input-group-text">
            <input id="teamSize2" type="radio" ng-model="context.teamSize" aria-label="2" value="2">
            <label for="teamSize2">
              2
            </label>
          </span>
          <span class="input-group-text">
            <input id="teamSize3" type="radio" ng-model="context.teamSize" aria-label="3" value="3">
            <label for="teamSize3">
              3
            </label>
          </span>
          <span class="input-group-text">
            <input id="teamSize4" type="radio" ng-model="context.teamSize" aria-label="4" value="4">
            <label for="teamSize4">
              4
            </label>
          </span>
          <span class="input-group-text">
            <input id="teamSize4" type="text" ng-model="context.teamSize" aria-label="4" placeholder="10?">
            <label for="teamSize4">
              명
            </label>
          </span>
        </div>
        <div class="input-group-prepend">
          <input type="hidden" ng-if="context.platforms" ng-model="context.adminToken" ng-init="context.adminToken = '{{login.gameToken}}'" placeholder="관리자용 토큰을 여기에...">
          <button class="btn btn-outline-secondary" type="button" ng-click="makeTeam()">팀 생성!</button>
          <button class="btn btn-outline-secondary btn-primary" type="button" ng-if="context.platforms" name="button" ng-click="saveTeam()">저장</button>
        </div>
      </div>

      <div id="result" class="row">
        <div class="col-sm-6" ng-repeat="p in context.platforms">
          <div class="card md-3 mt-3" ng-repeat="team in p.teams track by $index" ng-class="{'pubg-done': team.done}">
            <div class="card-body" ng-hide="team.done">
              <h5 class="card-title">{[{$index + 1}]} 팀
                <small>&lt;{[{p.name}]}&gt;</small>
              </h5>
              <h6 class="card-subtitle mb-2" ng-class="{'text-warning': team.users.length < context.teamSize, 'text-danger': team.users.length > context.teamSize, 'text-muted': team.users.length == context.teamSize}">{[{team.users.length}]}명</h6>
              <p class="card-text">
                <span class="pubg-user" ng-repeat="user in team.users">{[{user.displayName}]} ({[{user.username}]})
                  <small>
                    <a href="javascript:;" ng-click="changeUserTeam(user, -1)">
                      <span class="oi oi-arrow-top" title="icon name" aria-hidden="true"></span>
                    </a>
                    <a href="javascript:;" ng-click="changeUserTeam(user, 1)">
                      <span class="oi oi-arrow-bottom" title="icon name" aria-hidden="true"></span>
                    </a>
                  </small>
                </span>
              </p>
              <p ng-show="team.meta"></p>
            </div>
            <div class="card-footer">
              <!-- <a href="javascript:;" ng-click="pickMeta(team)" class="card-link">메타 정하기</a> -->
              <label>
                <input type="checkbox" ng-model="team.done"> 참여완료</label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <footer class="footer mt-3">
    <div class="container">
      <span class="text-muted">문의: 아토믹나트륨(kuthia)</span>
    </div>
  </footer>
</body>

</html>
